body{background-color: #ffff4d;
    color: #002233;
}
header{background-color: #000000;
    color: #e60000;
}
nav{background-color: #bbdefb;
}
h2{background-color: #006699;
    color: #ffffff;
}
ul{color: #b30000;
}





footer{color: #e65c00;